<br>
<input class="form-control" type="date">
<br>
<input class="form-control" type="time">
<br>

<div class="col" >
    <label for="">Impact</label>
    <select class="form-control custom-select custom-select-sm">
        <option selected>Low</option>
        <option value="1">High</option>
    </select>
</div>
<br>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Detailed explaination of bug *</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
</div>

