<form>
    <label for="">Your name *</label>
    <div class="form-row">
        <div class="col">
            <input #fname type="text" class="form-control" >
        </div>
        <div class="col">
            <input #lname type="text" class="form-control" >
        </div>
    </div>
    <div class="form-row">
        <div class="col" >
            <label for="">First name</label>
        </div>
        <div class="col">
            <label for="">Last name</label>
        </div>
        
    </div>
    <br>
    <div class="form-group ">
        <label for="inputEmail4">Email *</label>
        <input type="email" class="form-control" #email>
      </div>
</form>